.blur{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  opacity: 1;
  filter: blur(200px);
}
.gift-1{
  margin: 0 auto;
  max-width: calc(50% - 7px);
  padding-bottom: 50px;
}
.gift-1 button, .gift-1 .btn{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.gift-1.splide__slide{
  padding-bottom: 34px;
}
.story-list .animate__animated:nth-of-type(odd){
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.story-list .animate__animated:nth-of-type(even){
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.story-list .animate__animated:nth-of-type(odd) .image-editable{
  width: 248px;
  height: 195px;
  margin: auto;
  overflow: hidden;
  transform: translate(15px, 24px) rotate(356deg);
  border: 4px solid var(--inv-border);

}
.story-list .animate__animated:nth-of-type(even) .image-editable{
  width: 248px;
  height: 195px;
  margin: auto;
  overflow: hidden;
  margin-bottom: -20px;
  transform: translate(-7px, 0px) rotate(2deg);
  border: 4px solid var(--inv-border);
}
.story-content{
  position: relative;
  background-color: var(--inv-border);
  padding: 14px;
  border-radius: 20px;
  margin-bottom: 21px;
}
#inner-slider .splide__arrow--next {
  right: 0;
}
#inner-slider .splide__arrow--prev {
  left: 0;
}
.splide__arrow:disabled {
  opacity: 0;
}

#qrcode img{
  width:80%;
}
.loader-wrapper .wrapper {
  width: 125px;
  height: 200px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: url(#love);
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loader-wrapper .wrapper span {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  background-color: #e74c3c;
  transform-origin: 50%;
}

.loader-wrapper .wrapper span:nth-child(1) {
  animation: left 2s infinite ease-in-out;
}

@keyframes left {

  0%,
  100% {
      transform: translateY(0) translateX(20px) scale(2);
      background-color: var(--menu-inactive);
  }

  40% {
      transform: translateY(0) translateX(25px) scale(1.6);
      background-color: var(--menu-active);
  }

  60% {
      transform: translateY(0) translateX(20px) scale(2);
      background-color: var(--menu-inactive);
  }

  80% {
      transform: translateY(0) translateX(25px) scale(1.6);
      background-color: var(--menu-active);
  }
}

.loader-wrapper .wrapper span:nth-child(2) {
  animation: center 2s infinite ease-in-out;
}

@keyframes center {

  0%,
  100% {
      transform: translateY(20px) translateX(0px) scale(2);
      background-color: var(--menu-inactive);
  }

  40% {
      transform: translateY(25px) translateX(0) scale(1.8);
      background-color: var(--menu-active);
  }

  60% {
      transform: translateY(20px) translateX(0px) scale(2);
      background-color: var(--menu-inactive);
  }

  80% {
      transform: translateY(25px) translateX(0) scale(1.8);
      background-color: var(--menu-active);
  }

}

.loader-wrapper .wrapper span:nth-child(3) {
  animation: right 2s infinite ease-in-out;
}

@keyframes right {

  0%,
  100% {
      transform: translateY(0) translateX(-20px) scale(2);
      background-color: var(--menu-inactive);
  }

  40% {
      transform: translateY(0) translateX(-25px) scale(1.6);
      background-color: var(--menu-active);
  }

  60% {
      transform: translateY(0) translateX(-20px) scale(2);
      background-color: var(--menu-inactive);
  }

  80% {
      transform: translateY(0) translateX(-25px) scale(1.6);
      background-color: var(--menu-active);
  }

}

.loader-wrapper .wrapper span.shadow {
  position: absolute;
  left: 19%;
  background-color: rgba(0, 0, 0, .2);
  top: 180px;
  transform: translateX(-50%);
  height: 3px;
  width: 80px;
  filter: blur(.3px);
  transform-origin: 50%;
  animation: shadow 2s infinite ease-in-out;
}

@keyframes shadow {

  0%,
  100% {
      transform: scale(1.1);
      opacity: .7;
  }

  40% {
      transform: scale(.9);
      opacity: .3;
  }

  60% {
      transform: scale(1.1);
      opacity: .7;
  }

  80% {
      transform: scale(.9);
      opacity: .3;
  }
}


.loader-wrapper .wrapper span.text {
  position: absolute;
  width: 100%;
  background-color: transparent;
  font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 9px;
  bottom: 0;
  text-align: center;
  color: #c0392b;
}

.gallery{
    width: 33%;
    overflow: hidden;
    padding: 4px;
}
.gallery5, .gallery6{
    width: 66%;
}
.gallery .frame-gallery{
    overflow: hidden;
    width: 100%;
    height: 100px;
}
.gallery4 .frame-gallery,
.gallery5 .frame-gallery,
.gallery6 .frame-gallery,
.gallery7 .frame-gallery{
    height: 129px;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}